.cards-about > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}


.cards-about .cards-card-image {
  line-height: 0;
}


.cards-about.typ-article-card  > ul{
    gap:14px;
}

.cards-about.typ-article-card  > ul > li{
    border: unset;
    background-color: unset;    
}

 .typ-article-card {
    margin:20px 0;
}
/* about-us */
.typ-article-card > ul > li {
    padding: 10px;
    text-align: center;
}

.typ-article-card > ul > li img{
    border-radius: 50%;
    height: 164px;
    object-fit: cover;
    width: 164px;
}

.typ-article-card > ul > li h3{
    color: var(--textColor, #202020);
    font-family: var(--fontFamilySerif, "Asar", Georgia, "Times New Roman", Times, serif);
    font-weight: var(--fontWeightNormal, normal);
    font-size: var(--fontSizeH3, 24px);
}
.typ-article-card > ul > li h5{
    font-size: var(--fontSizeH5, 14px);
    font-family: var(--fontFamilySansSerif, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif);
    font-weight: var(--fontWeightBold, 600);
    text-transform: uppercase;
}

.about-contrb-wrapper .typ-article-card > ul > li .icon img{
    /* width:24px; */
    /* object-fit: unset;
    height: 24px; */
}
.typ-article-card .cards-card-body p {
    float: left;
    width: 48px;
    height: 48px;
    align-content: center;
    background: black;
}
.typ-article-card .cards-card-body p span img {
    /* width: 36px;
    object-fit: unset; */
    height: 29px;   
    border-radius: unset;
}
.typ-article-card .cards-card-body p span{
    display: inline-flex;
    /* height: 30px; */
    /* width: 30px; */
    background: white;
}
.typ-article-card .cards-card-body p:first-of-type{
    margin-left: 25% ;
}

